body {
  min-height: 100vh;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-bottom: 1rem;
}

#add-input {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.add-button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: white;
}
.add-button:hover {
  background-color: black;
  color: white;
}

.remove-button {
  border: 1px solid black;
  margin-left: 1rem;
  background-color: white;
}
.remove-button:hover {
  background-color: black;
  color: white;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.row-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

/* .list-item, */
#empty-list {
  color: gray;
}

/* .list {
  display: flex;
  flex-direction: row;
} */

hr {
  background-color: black;
}
